@import "_source/color";
@import "_source/mixins";
@import "_source/data";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: $color-main;
  background-image: $img-1;
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: #fff;
}

.container {
  @include centralize();
  height: 100vh;
  width: 100vw;
  
  .bx-container {
    @include centralize();
    width: 40%;
    height: 50vh;
    background-color: transparent;
    position: relative;
    #circle {
      width: 60px;
      height: 60px;
      background-color: #fff;
      position: absolute;
      top: -35px;
      z-index: -1000;
      border-radius: 50px 50px 20px 50px;
      transform: rotate(45deg);
    }
    .bx {
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 100%, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 30px;
      @include centralize(column);
      --r: 50px; /* cut size */
      mask: radial-gradient(var(--r) at top, #0000 calc(100% - 1px), #000);

      input {
        width: 40%;
        height: 30px;
        margin: 10px;
        background-color: aqua;
        border-radius: 5px;
        outline: none;
        padding: 0 2%;

        &[type="password"] {
          letter-spacing: 5px;
        }
      }
      button {
        width: 40%;
        height: 40px;
        background-color: red;
        cursor: pointer;
        margin: 10px;
        border-radius: 50px;
      }
    }
  }
}
